name: Jekyll site CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: 'notify vercel'
        uses: 'vercel/repository-dispatch-actions@v1'
        with:
          name: 'Vercel - gift: lint'
          
